nav.primary-navigation {
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  padding: 120px 0 0 0;
  text-align: center;
  padding: 30px;
  font-size: 16px;
  font-weight: 600;
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 1px solid #000000;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: 'Courier New';
  font-size: 18px;
}
nav.primary-navigation li a {
  color: black;
}
nav.primary-navigation li a:hover {
  color: #3ca0e7;
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
a {
  text-decoration: none;
}

.text_body {
  text-align: left;
  width: 60%;
  margin: 0 auto
}

.aligned {
    padding: 10px;
    display: flex;
    align-items: top;
}

body {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
  padding-bottom:200px;
}

.project_text {
    margin-top:-10px;
    max-width: 60%;
    font-size: 16px;
    font-family: "Courier New";
    white-space: initial;

}
.title_text {
  font-weight: 700;
  font-size: 28px;
  font-family: "Courier New";
  margin-top: 20px
}
title_date {
  font-weight: 700;
  font-size: 16px;
  font-family: "Courier New";
  margin-top: -55px
}
.text {
  font-size: 16px;
  font-family: "Courier New";
  margin-top: 20px
}
.larger_image {
    padding-right: 30px;
    float: left;
    min-width: 442px;
    max-width: 422px;
    min-height: 334px;
    max-height: 334px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
.larger_image:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.codebox {
    margin: 0 auto;
    background-color:lightgray;
    font-family:"Consolas";
    text-align: left;
    width:auto;
    overflow:auto;    
    padding:10px;
}
.codebox code {
    font-size: 16px;
}
.space {
    font-size:50px;
}
.project {
    padding:80px;
}
code {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  font-family: "Courier New";
  color: red;
  background-color: #f1f1f1;
  padding: 2px;
}


    
    
    
    
    
    
